PRINT()

In [ ]:
#print is use for answer

In [1]:
a=10
b=20
a
b

20

In [2]:
a=10
b=20
print(a)
print(b)

10
20

In [3]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [4]:
num1=20
num2=30
add=num1+num2
print(add)

50

PRINT RESULT WITH STRING

In [8]:
num1=20
num2=30
add=num1+num2
print('The addition of' ,num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [9]:
name='twinkle'
age=25
city='hyd'
#hellow my name is twinkle and i am 25 years old from hyderabad

In [11]:
print('my name is',name,'and i am',age,'years old from',city)

my name is twinkle and i am 25 years old from hyd

PRINT FORMAT METHOD

In [15]:
num1=20
num2=30
add=num1+num2
print('the addition of {}and {} is ={}'. format(num1,num2,add))

the addition of 20and 30 is =50

In [16]:
name='twinkle'
age=25
city='hyd'

In [18]:
print('hellow my name is {},and i am{} years old from{}'.format(name,age,city))

hellow my name is twinkle,and i am25 years old fromhyd

In [21]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3#or we can use avg=round(num1+num2+num3)/3,2)
avg1=round(num1+num2+num3//3,2)
#the average of num1,num2,num3 is=avg
print('The average of {},{},and {} is={} or {}'. format(num1,num2,num3,avg,avg1))

The average of 100,25,and 333 is=152.66666666666666 or 236

In [22]:
round (avg,2)

152.67

In [2]:
num1=20
num2=30
add=num1+num2
print(f'the addition of{num1} and {num2} is={add}')

the addition of20 and 30 is=50

In [3]:
name='twinkle'
age=25
city='hyd'
#hello my name is twinkle and i am 25 years old from hyderabad

In [6]:
print(f'hello my name is {name},and i am {age}year old,from {city}.')

hello my name is twinkle,and i am 25year old,from hyd.

In [12]:
num1=100
num2=25
num3=333
avg=round(num1+num2+num3/3,2)

In [11]:
print(f'the average of {num1}, {num2} and {num3} is = {avg}')

the average of 100, 25 and 333 is = 236.0

In [16]:
#let combine all
num1=10
num2=20
add=num1+num2
print('the addition of', num1,'and',num2,'is=',add)
print('the addition of {}and {} is ={}'. format(num1,num2,add))
print(f'the addition of {num1} and {num2} is= {add}')

the addition of 10 and 20 is= 30
the addition of 10and 20 is =30
the addition of 10 and 20 is= 30

END STATEMENT

In [17]:
print('hello')#1st statement
print('good morning') #2nd statement

hello
good morning

In [19]:
print('hello',end=' ') #1st statement
print('world good day') # 2nd statement

hello world good day

SEPARATOR

In [20]:
# here one print statement only we use
# inside one print statement we have multiple values
# we want to separate these multiple values with anything

In [23]:
print('hello','hye','how are you',sep='--->')

hello--->hye--->how are you

In [24]:
print('hello','hye','how are you',sep='&')

hello&hye&how are you

In [25]:
print('hello','hye','how are you', sep='@')

hello@hye@how are you

In [26]:
print('hello','hye','how are you', sep=' ')

hello hye how are you

In [27]:
print(3,'.')#. is far from 3 so here we will use sep method

3 .

In [ ]:
print(1,2,end=' ')
print(3, '.',sep