kaggle task for data sciience with pandas ai
 - https://www.kaggle.com/code/harunshimanto/pandas-with-data-science-ai

In [3]:
import pandas as pd

In [9]:
ratings = pd.read_csv(r'C:\Users\Twinkele\Downloads\archive (1)\rating.csv')

In [10]:
ratings.shape

(20000263, 4)

In [12]:
tags=pd.read_csv(r'C:\Users\Twinkele\Downloads\archive (1)\tag.csv')

In [14]:
tags.shape

(465564, 4)

In [15]:
ratings.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [16]:
tags.head(3)

   userId  movieId          tag            timestamp
0      18     4141  Mark Waters  2009-04-24 18:19:40
1      65      208    dark hero  2013-05-10 01:41:18
2      65      353    dark hero  2013-05-10 01:41:19

In [17]:
movies=pd.read_csv(r'C:\Users\Twinkele\Downloads\archive (1)\movie.csv')

In [19]:
movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [20]:
print(tags.columns)
print(ratings.columns)
print(movies.columns)

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')
Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')
Index(['movieId', 'title', 'genres'], dtype='object')

In [21]:
del ratings['timestamp']
del tags['timestamp']

In [22]:
print(tags.columns)
print(ratings.columns)
print(movies.columns)

Index(['userId', 'movieId', 'tag'], dtype='object')
Index(['userId', 'movieId', 'tag'], dtype='object')
Index(['movieId', 'title', 'genres'], dtype='object')

In [24]:
tags.head(3)

   userId  movieId          tag
0      18     4141  Mark Waters
1      65      208    dark hero
2      65      353    dark hero

In [25]:
tags.iloc[0]

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [27]:
tags.iloc[2]

userId            65
movieId          353
tag        dark hero
Name: 2, dtype: object

In [ ]:
row_1=tags.iloc[1]
row